<?xml version="1.0" encoding="utf-8"?>
<manifest>
	<receiver
		android:name="org.zywx.wbpalmstar.plugin.uexLocalNotification.EAlarmReceiver">
        <intent-filter>
            <action android:name="alarm_1" />
			<action android:name="alarm_2" />
			<action android:name="alarm_3" />
			<action android:name="alarm_4" />
			<action android:name="alarm_5" />
			<action android:name="alarm_6" />
			<action android:name="alarm_7" />
			<action android:name="alarm_8" />
			<action android:name="alarm_9" />
			<action android:name="alarm_10" />
			<action android:name="android.intent.action.TIME_SET" />
            <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            <action android:name="android.intent.action.LOCALE_CHANGED" />
            <action android:name="android.intent.action.BOOT_COMPLETED" />
         </intent-filter>
    </receiver>
    	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.VIBRATE" />
</manifest>