<?xml version="1.0" encoding="utf-8"?>
<uexplugins>
    <plugin
        className="org.zywx.wbpalmstar.plugin.uexLocalNotification.EUexLocalNotify"
        uexName="uexLocalNotification" version="3.0" build="0">
        <method name="add" />
        <method name="removeAll" />
        <method name="remove" />
    </plugin>
</uexplugins>